// https // vuetifyjs.com/ru/framework/spacing
sizes = { "1": .25rem, "2": .5rem, "3": 1rem, "4": 1.5rem, "5": 3rem }
direction = { t: top, r: right, b: bottom, l: left }

margin_S(sizes)
  for key, val in sizes
    &_{key}
      margin val
    &y_{key}
      margin-top val
      margin-bottom val
    &x_{key}
      margin-left val
      margin-right val

margin_direction(sizes, direction)
  for K, V in direction
    &{K}
      for key, val in sizes
        &_{key}
          margin-{V} val

.m
  margin_S(sizes)
  margin_direction(sizes, direction)

hr
  margin 1em 0
  height 1px
  border 0
  border-top 1px solid rgba(#999, .5)
  &.hr_0
    margin 0