// $size_Mod()
// @media (min-width: 500px)
// &.sm
// font-size .6rem
// &.lg
// font-size 1rem
// &.xl
// font-size 1.2rem
$CLR_fill()
  &.red
    background $red
    &:hover
      background $red - 10%
  &.green
    background $green
    &:hover
      background $green - 10%
  &.orange
    background $orange
    &:hover
      background $orange - 10%
  &.grey
    background #EEE
    color #222
    &:hover
      background #EEE - 10%

// OUTLINE
item-btn(clr)
  color clr
  border-color clr - 20
  &:hover
    background clr

$CLR_outline()
  &.red
    item-btn($red)
  &.green
    item-btn($green)
  &.orange
    item-btn($orange)

// RIPPLE
ripple()
  position relative
  overflow hidden
  transform translate3d(0, 0, 0)
  &:after
    content ""
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    pointer-events none
    background-image radial-gradient(circle, #000 10%, transparent 10.01%)
    background-repeat no-repeat
    background-position 50%
    transform scale(10, 10)
    opacity 0
    transition transform .5s, opacity 1s
  &:active:after
    transform scale(0, 0)
    opacity .2
    transition 0s

// .ripple
.btn, button
  &:active
    transform translateY(2px)
  ripple()

// =============== RESET =====================
button, input, select, textarea
  // font-family inherit
  outline 0
  // box-shadow none
  // font-size .8rem

// ========== INPUT ==========
// input:not([type=checkbox]):not([type=file]):not([type=color]),
input, textarea, select
  appearance none
  border-color #7f8c8d
  // width: 100%
  &:focus
    border-color $orange

// BASE FormEl
.btn, button, input, textarea, select
  // border-radius .4rem
  // line-height 1
  font-family "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  border 2px solid
  font-size .8rem
  height 2em
  padding 0 .7em
  // $size_Mod()

// =============== BASE Btn ====================
.btn
  box-shadow 0px 4px 4px rgba(0, 0, 0, .25)
  cursor pointer
  user-select none
  // display inline-block
  // line-height 2em
  // text-align center
  display inline-flex
  justify-content center
  align-items center

$outline_Mod()
  &.outline
    // ! fix font
    padding-bottom .15em
    font-family "Oswald", sans-serif
    border-radius .3rem
    background-color #FFF
    letter-spacing .03em
    item-btn($blue)
    $CLR_outline()
    transition background-color .3s, color .3s
    &:hover
      color #FFF

// GO Btn
.btn
  user-select none
  background $blue
  border-color transparent
  color #FFF
  &:hover
    background $blue - 10%
  $CLR_fill()
  &._icon
    padding 0 // reset
    width 2em
    border-radius 50%
    // img
    // height 1.2em
  $outline_Mod()
  &.circle
    border-radius 3em
    padding 0 .9em

/*
.i_plus
  background-image url('~static/icon/plus.svg') center no-repeat
.i_minus
  background-image url('~static/icon/minus.svg') center no-repeat
*/
.sm
  font-size .6rem

.lg
  font-size 1rem

.xl
  font-size 1.2rem