$size_Mod()
  @media (min-width: 500px)
    &.xs
      font-size .5rem
    &.sm
      font-size .6rem
    &.lg
      font-size 1rem
    &.xl
      font-size 1.2rem

$CLR_fill()
  // &.fill
  &.blue
    background $blue
    &:hover
      background $blue - 12%
  &.red
    background $red
    &:hover
      background $red - 10%
  &.green
    background $green
    &:hover
      background $green - 10%
  &.orange
    background $orange
    &:hover
      background $orange - 20%

item-btn(clr)
  color clr
  border-color clr
  &:hover
    color #FFF
    background clr + 10
$CLR()
  // &.fill
  &.blue
    item-btn($blue)
  &.red
    item-btn($red)
  &.green
    item-btn($green)
  &.orange
    item-btn($orange)

button, input, select, textarea
  outline 0
  box-shadow none
  // font-size .8rem

// input:not([type=checkbox]):not([type=file]):not([type=color]), textarea, select
input, textarea, select
  appearance none
  box-shadow none
  // background-color: transparent
  border 2px solid $link + 30
  line-height 1
  // width: 100%
  &:focus
    border-color $orange // #ff9800

// BaseFormEl
.btn, button, input, textarea, select
  border-radius .4rem
  font-family inherit
  height 2em
  padding 0 .7em
  // margin 0 2px
  $size_Mod()

.btn
  display inline-block
  cursor pointer

  min-width 2em
  
  font-size .8rem
  user-select none
  // text-align center
  // line-height 2em
  display inline-flex
  justify-content center
  align-items center

  
  &:active
    //transform: translate(.2em, .2em)
    transform: translateY(.2em,)


.outline
  $CLR()
  box-shadow: 4px 4px 0 0 rgba(#888, .4), 0 2px 10px 0 rgba(#000 .2)
  //box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  transition: background-color 0.3s, color 0.3s
  border .1em solid currentColor
  color $link
  &:hover
    background $link
    color #FFF
.btn.circle
  border-radius: 3em;
.uped
  $CLR_fill()
  background $link
  &:hover
    background $link - 10%
  color #fff
  vertical-align bottom
  // height calc(2em + 3px)
  border-bottom 3px solid rgba(0, 0, 0, .2)
  &:active
    // background inherit
    border-bottom 0


  
